[submodule "hola"]
	path = hola
	url = git@github.com:fhausman/hola.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Clara"]
	path = Clara
	url = https://github.com/catchorg/Clara.git
